* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-padding: 300px;

  @media screen and (max-width: 1920px) {
    --main-padding: 300px;
  }

  @media screen and (max-width: 1700px) {
    --main-padding: 150px;
  }

  @media screen and (max-width: 1300px) {
    --main-padding: 75px;
  }

  @media screen and (max-width: 1100px) {
    --main-padding: 0;
  }
  // 美化滚动条
  ::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px rgba($color: #000000, $alpha: 0);
    border: solid 30px transparent;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
  }

  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgba($color: #000000, $alpha: .25);
    border: solid 3px transparent;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
  }
}

a {
  color: #000;
  text-decoration: none;
}

pre > code {
  font-family: 'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
}

.demo {
  padding: 15px;

  h1 {
    font-size: 2em;
    margin-top: 1em;
  }

  h2 {
    margin-top: 1em;
  }

  p {
    margin: 1rem 0;
  }

  .code {
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 15px;
  }

  .item {
    & > * {
      margin-right: 10px;
    }
  }
}
